@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

:root {
  --dark_color: #263140;
  --bg_color: #f2e9d8;
  --btn_color: #d97652;
  --mobile_width: 920px;
}

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
}
